body{
    margin: 0px auto;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    width: 1000px;
}

#menu_top {
    background: hsl(103, 72%, 22%);
    height: 40px;
}

#banner {
    height: auto;
}

#banner img {
    width: 1000px;
}

#main #left {
    background: rgb(28, 204, 57);
    width: 700px;
    float: left;
    min-height: 400px;
}

#main #right {
    background: blue;
    width: 300px;
    float: left;
    min-height: 400px;
}

#footer {
    background: #000;
    height: 40px;
    text-align: center;
    clear: left;
    color: #ffffff;
    line-height: 40px;
}

#menu_top ul{
    margin: 0px;
    padding: 0px;
}

#menu_top ul li{
    list-style: none;
    float: left;
    color: #ffffff;
}

#menu_top ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    padding: 0px 20px 0px 20px;
    border-right: 0.2px solid #291313;
}