/* thong so chung cua body */
body{
    margin: 0px auto;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    width: 1000px;
}

/* Day la noi dung cua menu top */
#menu_top {
    background: hsl(103, 72%, 22%);
    height: 50px;
}

#menu_top ul{
    margin: 0px;
    padding: 0px;
}

#menu_top ul li{
    list-style: none;
    float: left;
    color: #ffffff;
}

#menu_top ul li a{
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    padding: 0px 20px 0px 20px;
    border-right: 0.2px solid #291313;
}

#menu_top ul li a:hover {
    color: orange;
}

#menu_top ul li .fa-home {
    margin-right: 5px;
}

/* Day la noi dung cua banner */
#banner {
  height: auto;
}

#banner img {
  width: 1000px;
}

/* Day la noi dung cua main */
#main {
    margin-top: 10px;
}

/* Day la noi dung cua main left */
#main #left {
    width: 700px;
    float: left;
}

#main #left ul{
    margin: 0px;
    padding: 0px;
}

#main #left ul li{
    list-style: none;
    clear: left;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 15px;
}

#main #left ul li img{
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}

#main #left ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

/* Day la noi dung cua main right */
#main #right {
  width: 300px;
  float: left;
  min-height: 400px;
}

#main #right ul {
    margin: 0px;
    padding: 0px;
}

#main #right ul li {
    list-style: none;
    text-indent: 15px;
}

#main #right ul li a {
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    color: #554747
}

#main #right ul li a:hover {
    color: red;  
}

#main #right h3{
    background:#195d58;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    text-indent: 10px;
}

#main #right h3 .fa-bars {
    margin-right: 8px; /* Dieu chinh khoang cach cua icon voi text */
}


/* Day la noi dung cua footer */
#footer {
    background: rgb(88, 83, 83);
    height: 40px;
    text-align: center;
    clear: left;
    color: #ffffff;
    line-height: 40px;
}
